


<div class="postPlace"style="height: 600px;overflow-y: auto; ">

    <!-- <h1>Profile</h1> -->

<div class="admin-title">
    <h2> <%= user[0].username.toUpperCase() %><span style="font-weight: 600; font-size: 18px;">'s Posts</span></h2>

    <a href="/users-add-post" class="button">+ Add New</a>
</div>

<section class="articles">
    <ul class="article-ul">

        <% data.forEach(post => { %>
          
            
            <li >
                
                <a href="/post/<%=  post._id %>" class="a" >
                    <span><%=  post.title %></span>
                    <p>~ <%= post.author.username %></p>
                    <span class="article-list__date"><%=  post.createdAt.toDateString() %></span>
                </a>
                <div class="admin-post-control">
                    <a href="/users-edit-post/<%= post._id %>" class="btns">Edit</a>


                    

                        
                    
                    
                        <input type="submit" value="Delete" class="btns btn-delete " onclick="document.getElementById('deletebotton').style.display='block'" >
                    
                </div>
            </li>








            <form action="/users-delete-post/<%= post._id %>" method="post">

                <div id="deletebotton" class="modal" style=" text-align: center; position: fixed; z-index: 3;    display: none; width: 100%; height: 100%; top: 0; left: 0;">
                    <div style="box-shadow: 5px 5px 50px rgba(2, 2, 2, 0.459); border-radius: 10px; width: 600px; padding: 10px; margin: auto;  margin-top: 200px; background-color: rgb(255, 255, 255);">
                
                        <span onclick="document.getElementById('deletebotton').style.display='none'" class="close" title="Close Modal" style="margin-left: 550px; font-size: 30px; cursor: pointer;padding-right: 20px; ">&times;</span>
                    
                      <div class="container">
                        <h1>Delete Post</h1>
                        <p>Are you sure you want to Delete your post?</p>
                  
                        <div class="clearfix">
                          <button type="button" class="cancelbtn btn" onclick="document.getElementById('deletebotton').style.display='none'">Cancel</button>
                          <button type="submit" class="deletebtn btn" >Delete</button>
                        </div>
                      </div>
                   
                
                    </div>
                  </div>
                
                </form>













        <% }) %>
        
    </ul>



    <!-- <a href="#" class="pagination">&lt; View Older Posts</a> -->
    

</section>
</div>


</div>