<div class="postPlace" style="height: 600px; overflow-y: auto">
  <div class="admin-title">
    <h2>Posts</h2>
  </div>
  <section class="articles">
    <ul class="article-ul">
      <% data.forEach(post => { %>
      <li>

      <% if (user[0].username== post.author.username) { %>
        <a href="/editPost/<%= post._id %>" class="a">
            <span><%= post.title %></span>
            <p>~ <%= user[0].username %></p>
            <span class="article-list__date"
              ><%= post.createdAt.toDateString() %></span
            >
          </a>
      <% } %>
      <% if (user[0].username!= post.author.username) { %>
        <a href="/post/<%=  post._id %>" class="a">
            <span><%= post.title %></span>
            <p>~ <%= post.author.username %></p>
            <span class="article-list__date"
              ><%= post.createdAt.toDateString() %></span
            >
          </a>
      <% } %>
      </li>
      <% }) %>
    </ul>
  </section>
</div>
